.align-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.img-header {
    margin-right: 24px;
    width: 50px;
}

.footer-search {
    width: 100%;
    height: 80px;
    border-top: solid 1px #000;
    text-align: right;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.img-footer {
    margin-right: 24px;
    width: 50px;
    cursor: pointer;
}

.lista-center {
    padding: 24px;
}